
h1 {
    font-size: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgb(235, 215, 191);
    border: 0px;
    height: 50px;
    text-align: center;
    align-content: center;
    padding-top: 0px;
    margin-top: 0px;
}

.container{
    width: 100%;
   background-color: rgb(232, 232, 240);
   height: 750px; 
}

.length{
   
    align-content: center;
}